.contentwrapper{
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 3.0em;
}
.left{
    float: left;
}
.right{
    float: right;
}
header{
    padding: 3.5em 0 0 0.5em;
    margin: 0 0 3m;
    background: black url(img/OIP.jfif) center 0px;

}
h1{
    color:chartreuse;
    font-size: 3em;
    margin: 0;
    padding:0;
    top: 50px;
    
}
h2 {
    color:black;
    font-size: 1.7em;
    padding: 0px;
    margin: 0.5em 0 0.35em 0;
    align-items: center;
}
body{
    background-color:teal;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
    color: thistle}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin: 0;
}
nav li a, nav li a:visited{
    text-decoration: none;
    color:chartreuse;
    
}
nav li a:hover{
    color: turquoise;
    background-color: red;
}
#utilityMenu{
    float: right;
    margin: -1.5em 0 0 0;
    padding: 0.35em;
    background-color: tr ;
    height:1.3em ;

}
.sidenav {
    height: 100%;
    width: 200px; 
    position: fixed; 
    z-index: 1; 
    top: 99; 
    left: 0;
    background-color: #111; 
    padding-top: 20px;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
.backgroundmain{
    left: 200px;
    position: relative;

}
.upcomingevents{
 align-items: center;
}
img{
    width: 50%;
    height: 50%;
    position: relative;
}

    
    